*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
**/build/
design_assets/ui*.xml
design_assets/log*.txt
design_assets/testphoto*.jpg
design_assets/r*.png
design_assets/s*.png
design_assets/*.b64
design_assets/chunk*.txt
design_assets/template_raw.json
keystore/
